## Modeling the New York Times Covid-19 Data

Implement a simple Bayesian hierarchical model to forecast new cases (and deaths?) over the next few days.

In [1]:
import numpy as np
import pandas as pd
import covid19_predict as cvd_predict

Most recent NY Times Covid-19 data: Monday April 6, 2020
covid19_predict: initializing for simulation
covid19_predict: running Gibbs sampler: n=3302, B=10000
covid19_predict: making predictions

In [2]:
cvd_predict.df

,date,county,state,cases,deaths,population,cases_per_100k,delta,delta_bar,delta_95,delta_05,cases_predicted,cases_95_credible,cases_05_credible
0,2020-04-06,New York City,New York,68776,2738,8900000,772.8,13.8,12.91,19.65,8.48,69928,70528,69533
3,2020-04-06,Nassau,New York,15616,535,1356924,1150.8,89.7,86.96,103.38,73.32,16795,17018,16610
4,2020-04-06,Suffolk,New York,14473,237,1476601,980.2,104.3,101.27,119.25,86.26,15968,16234,15747
6,2020-04-06,Westchester,New York,14293,253,967506,1477.3,59.0,56.56,69.92,45.61,14840,14969,14734
12,2020-04-06,Cook,Illinois,8728,209,5150233,169.5,13.3,12.46,19.29,8.18,9371,9723,9150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3277,2020-04-06,Leelanau,Michigan,2,0,21761,9.2,4.6,4.73,9.60,2.35,3,4,2
3288,2020-04-06,Bon Homme,South Dakota,2,0,6901,29.0,14.5,13.65,20.80,9.01,2,3,2
3289,2020-04-06,Charles Mix,South Dakota,2,0,9292,21.5,10.7,10.10,16.42,6.29,2,3,2
3299,2020-04-06,Halifax,Virginia,2,0,33911,5.9,3.0,3.47,7.78,1.54,3,4,2
3300,2020-04-06,Northampton,Virginia,2,0,11710,17.1,8.6,8.19,13.84,4.82,2,3,2